* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: raleway, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.2;
}

ul, li {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

.btn {
	background-color: #05fca2;
	color: #012216;
}

/* button {
  border: none;
  background: #265f82;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
}

button:hover {
  border: none;
  background: #1F4C69;
  color: white;
  padding: 10px;
}

button:disabled {
  cursor: default;
  background: #698ea5;
} */

.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background-color: #0a1117;
}

.centered-form__form {
  background-color: #fca205;
  padding: 0px 20px;
  margin: 20px;
  width: 230px;
}

.form-field {
  margin: 20px 0;
}

.form-field > * {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
}

.form-field input, .form-field select {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

.chat {
  display: flex;
}

.chat__sidebar {
  overflow-y: scroll;
  width: 200px;
  height: 100vh;
  background-color: #16b5f9;
}

.chat__sidebar h3 {
  color: #e6eaee;
  margin: 10px 20px;
  text-align: left;
}

.chat__sidebar ul {
  list-style-type: none;
}

.chat__sidebar li {
  background-color: #0a1117;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.chat__main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #0a1117;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__footer {
  background: #fca205;
  display: flex;
  padding: 10px;
  /*height: 60px;*/
  flex-shrink: 0;
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer form * {
  margin-right: 10px;
}

.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}

.chat__messages {
  list-style-type: none;
  padding: 10px;
}

.message {
  margin-top: 10px;
  display: table;
  color: #fff;
  clear: both;
}
.your-message {
  margin-top: 10px;
  display: table;
  color: #fff;
  float: right;
  clear: both;
  text-align: right;
}
.server-message {
  margin-top: 10px;
  display: table;
  color: #fff;
  clear: both;
}

.message__title {
  margin-bottom: 5px;
  clear: both;
}

.message__title h7 {
  font-weight: 600;
  color: #fca205;
}
.message__title h7 b {
}

.message__title span {
  color: #8b8f96;
  font-size: 13px;
}
.your-message__body {
  background-color: #314146;
  border-radius: 20px;
  padding: 12px;
  width: fit-content;
  float: right;
  clear: both;
}
.server-message__body {
  background-color: #171d21;
  padding: 12px;
  width: fit-content;
  clear: both;
}
.message__body {
  background-color: #004e8c;
  border-radius: 20px;
  padding: 12px;
  width: fit-content;
  clear: both;
}
@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}
input::-webkit-input-placeholder {
	color: #000
}
input:focus::-webkit-input-placeholder {
	color: #16b5f9
}
input:-moz-placeholder {
	color: #000
}
input:focus:-moz-placeholder {
	color: #16b5f9
}
input::-moz-placeholder {
	color: #000
}
input:focus::-moz-placeholder {
	color: #16b5f9
}
input:-ms-input-placeholder {
	color: #000
}
input:focus:-ms-input-placeholder {
	color: #16b5f9
}
.input-field label {
	color: #000
}
.input-field input[type=text]:focus+label {
	color: #000
}
.input-field input[type=text] {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000
}
.input-field input[type=text].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000
}
.input-field input[type=text].invalid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000
}
.input-field .prefix.active {
	color: #000
}
